


body{
    font-family:"Montserrat", sans-serif;
    font-style: normal;
    background-color: azure;
    background-size: cover;
    background-repeat: no-repeat;
    font-weight: 500;
}

nav{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
    .flex_ul{
        display: flex;
        justify-content: space-between;
        gap: 5em;
        align-items: center;
        justify-content: center;

        li{
            margin-top: 10px;
            list-style-type: none;
        }

        a{
            color: black;
            text-decoration: none;
        }

}

li a{
    cursor: pointer;
    translate: 0.2s;
    
  
}

li a:hover{
    transform: scale(1.15);
    color: #0084FA;
}

.main_message{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: transparent;
    border-radius: 15px;
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

.align-form {
    display: grid;
    place-items: center; 
    height: 70vh; 
    margin: 0; 
    .btn {
        margin: 10px; 
        padding: 10px 20px; 
        font-size: 16px; 
      }
  }

  footer{
    
    
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    a{
            text-decoration: none;
            cursor: pointer;
            translate: 0.2s;
        
    }
  }



